body {
  position: relative;
}

.navbar a {
  color: #fff;
}

.navbar a:hover {
  color: crimson;
}

#main-container {
  min-height: 500px;
  color: white;
}

.main-img {
  z-index: -1;
  background-image: url("./images/main-img.jpg");
  background-size: cover;
  min-height: 600px;
  width: 100%;
  position: absolute;
  top: 0;
}

#myname {
  margin: 0;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
  font-size: 3em;
}

#position {
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}

#projects {
  padding-top: 100px;
}

.project-name {
  color: #000;
}

hr {
  background-color: red;
  height: 1px;
  border: 0;
}

.footer {
  margin-bottom: 0;
  padding-bottom: 5px;
  padding-top: 5px;
}

.altcademy {
  color: #000;
}
