body {
  position: relative;
}

.main-img {
  z-index: -1;
  background-image: url("./images/main-img.jpg");
  background-size: cover;
  min-height: 600px;
  width: 100%;
  position: absolute;
  top: 0;
  /* background-repeat: no-repeat; */
  /* background-positoin: bottom; */
}

#main-container {
  min-height: 500px;
  color: white;
}

#projects-header {
  text-align: center;
}
